#image-line-1{
    width: 50%;
    height: 100px;
    background-color: #90ff3b;
    position:relative;
    left:  0;
    top: 140px;
}
#image-line-2{
    width: 50%;
    height: 100px;
    background-color: #CF1F02;
    position:fixed;
    right:0;
    top: 140px;
}



#resultarea{
    background-color: wheat;
    font-size: 2rem;
    padding: 3px;
    display: none;

}
.small-btn{
    border: 2px dashed gray;
    width: 50%;
    height: 100%;
    background-color: #CAFF00;
}
.split{
    display: inline-flex;
}
.button-general{
    width: 40%;
    height: 40%;
    margin: 1%;
    border: 2px dashed gray;
    font-size: larger;
    padding: 1%;
    font-weight: bolder;
}
.right-btn{
    right: 5%;
    position: absolute;
}

.left-btn{
    left: 5%;
    position: absolute;
}


.buttons{
    height: 100%;
    width: 100%; 
    display: block;
}

.buttons-2{
    height: 100%;
    width: 100%; 
}
.button-area{
    bottom:5%;
    height: 35%;
    width: 300px;
    border: 2px dashed gray;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
}
.button-group{
    height: 40%;
    width: 100%;
    text-align: center;
    display:inline-flex;
}

.box{
    border: 1px solid black;
}
.image-area{
    top: 5%;
    height: 50%;
    width: 300px;
    border: 2px dashed gray;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
}
#image-line{
    width: 85px;
    height: 70px;
    border-right: 15px solid #78D333;
    border-left: 15px solid #CF1F02;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    /* transform: translate(-50%,-50%) rotate(45deg); */
}