
.button-general{
    width: 40%;
    height: 40%;
    margin: 1%;
    border: 2px dashed gray;
    font-size: larger;
    padding: 1%;
    font-weight: bolder;
}
.right-btn{
    right: 5%;
    position: absolute;
}

.left-btn{
    left: 5%;
    position: absolute;
}


.buttons{
    
    height: 100%;
    width: 100%;
    

}
.button-area{
    bottom:5%;
    height: 35%;
    width: 80%;
    border: 2px dashed gray;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
}
.button-group{
    height: 40%;
    width: 100%;
    text-align: center;
    display:inline-flex;
}

.box{
    border: 1px solid black;
}
.image-area{
    top: 5%;
    height: 50%;
    width: 80%;
    border: 2px dashed gray;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
}
#image-line{
    width: 80px;
    height: 70px;
    border-right: 15px solid #78D333;
    border-left: 15px solid #CF1F02;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    /* transform: translate(-50%,-50%) rotate(45deg); */
}

#position-value{
    position: fixed;
    width: 200px;
    background-color: white;
    bottom: 0%;
    left: 0%;
    display: none;
}
#center-dot {
    position: absolute;
    color: #CAFF00;
    font-size: 30px;
    width: 5px;
    height: 5px;
    background-color: #CAFF00;
}
.cross-vertical:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 3px solid #CAFF00;
    transform: translate(-50%);
}

.cross-horizontal::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 3px solid #CAFF00 ;
    background: black;
    width: 100%;
    transform: translateY(-50%);
}
#cross-1 {
    width: 100px;
    height: 100px;
    position:absolute;
    text-align:center;
}

#cross-2 {
    width: 100px;
    height: 100px;
    position:fixed;
    text-align:center
}

.button-list{
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}

.btn{
    width: 60px;
    margin-bottom: 5px;
}